In [1]:
from download import *
from processor import *

In [2]:
"""D = Download(fileformat='cif')
D.download_alignment()
D.download_table(reload=True)
D.download_pdbs(reload=True)"""

"D = Download(fileformat='cif')\nD.download_alignment()\nD.download_table(reload=True)\nD.download_pdbs(reload=True)"

In [3]:
p = CifProcessor()

In [51]:
p.read_pkl_metainfo()

In [52]:
# p.del_pkl()   # ATTENTION!!! DO NOT RUN UNLESS YOU WANT TO CLEAN YOUR RAW FOLDER!

In [53]:
# p.make_metainfo(overwrite=True)  
# this takes a very long time since we query numberings and mappings
# This should have a flag here we can select

In [54]:
# p.to_pkl_metainfo()

In [55]:
# p.make_raws(overwrite=False)  # set overwrite to False to skip all processed samples

In [56]:
p.read_pkl(mode='', folder='data/raw/')

In [49]:
f = p.filter_dfl_via_table(Cl='A')

In [50]:
f

,uniprot(gene),receptor family,Cl.,Species,Method,PDB,Resolution,Preferred Chain,State,Degree active %,Family,Subtype,Function
67,ADRB1,Adrenoceptors,A(Rhodopsin),Wildturkey,X-ray,4AMI,3.2,A,Inactive,0,-,-,Agonist

In [12]:
p.apply_filter(f)

In [13]:
p.dfl_list

['4AMI']

In [14]:
p.dfl[0]

,PDB,group_PDB,auth_asym_id,label_asym_id,label_seq_id,auth_seq_id,label_comp_id,id,label_atom_id,type_symbol,Cartn_x,Cartn_y,Cartn_z,phi,omega,psi,identifier,label_comp_sid
0,4AMI,ATOM,A,A,3,33,ALA,1,N,N,-55.253,-20.721,32.549,NaN,177.655136,-40.559505,ADRB1_MELGA,A
1,4AMI,ATOM,A,A,3,33,ALA,2,CA,C,-53.760,-20.697,32.558,NaN,177.655136,-40.559505,ADRB1_MELGA,A
2,4AMI,ATOM,A,A,3,33,ALA,3,C,C,-53.172,-21.137,31.217,NaN,177.655136,-40.559505,ADRB1_MELGA,A
3,4AMI,ATOM,A,A,3,33,ALA,4,O,O,-52.196,-20.553,30.742,NaN,177.655136,-40.559505,ADRB1_MELGA,A
4,4AMI,ATOM,A,A,3,33,ALA,5,CB,C,-53.218,-21.557,33.692,NaN,177.655136,-40.559505,ADRB1_MELGA,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4524,4AMI,ATOM,B,B,299,357,LEU,4525,O,O,24.910,-17.359,50.805,-71.489269,NaN,NaN,ADRB1_MELGA,L
4525,4AMI,ATOM,B,B,299,357,LEU,4526,CB,C,23.319,-15.612,49.290,-71.489269,NaN,NaN,ADRB1_MELGA,L
4526,4AMI,ATOM,B,B,299,357,LEU,4527,CG,C,22.639,-14.948,48.084,-71.489269,NaN,NaN,ADRB1_MELGA,L
4527,4AMI,ATOM,B,B,299,357,LEU,4528,CD1,C,23.162,-13.531,47.891,-71.489269,NaN,NaN,ADRB1_MELGA,L
4528,4AMI,ATOM,B,B,299,357,LEU,4529,CD2,C,22.810,-15.762,46.809,-71.489269,NaN,NaN,ADRB1_MELGA,L

In [15]:
"""batch_size = 8


for i in range(int(len(p.dfl_list) / batch_size) + 1):
    print("BATCH", i)
    if (i+1)*batch_size < len(p.dfl_list):
        pdb_ids = p.dfl_list[i*batch_size:(i+1)*batch_size]
    else:
        pdb_ids = p.dfl_list[i*batch_size:]
    p.assign_generic_numbers_r(f=p.table, pdb_ids=pdb_ids, overwrite=True, folder='data/processed/')"""

'batch_size = 8\n\n\nfor i in range(int(len(p.dfl_list) / batch_size) + 1):\n    print("BATCH", i)\n    if (i+1)*batch_size < len(p.dfl_list):\n        pdb_ids = p.dfl_list[i*batch_size:(i+1)*batch_size]\n    else:\n        pdb_ids = p.dfl_list[i*batch_size:]\n    p.assign_generic_numbers_r(f=p.table, pdb_ids=pdb_ids, overwrite=True, folder=\'data/processed/\')'

In [18]:
p.assign_generic_numbers_r(f=p.table, pdb_ids='4AMI', overwrite=True, folder='data/processed/')

  0%|                                                                                                                                                                                                               | 0/1 [00:00<?, ?it/s]

P07700
pdb: 3 310
uni: 33 368
Using uniprot as a reference, due to missmatch in SIFTS!
Looking up uniprot fasta sequence for ADRB1_MELGA
--------------------------------AELLSQQWEAGMSLLMALVVLLIVAGNVLVIAAIGSTQRLQTLTNLFITSLACADLVVGLLVVPFGATLVVRGTWLWGSFLCELWTSLDVLCVTASIETLCVIAIDRYLAITSPFRYQSLMTRARAKVIICTVWAISALVSFLPIMMHWWRDEDPQALKCYQDPGCCDFVTNRAYAIASSIISFYIPLLIMIFVALRVYREAKEQ----------------------L----------------------MREHKALKTLGIIMGVFTLCWLPFFLVNIVNVFNRDLVPDWLFVAFNWLGYANSAMNPIIYCRSPDFRKAFKRLL-----------------------------------------------------------------------------------------------------------------------------A MGDGWLPPDCGPHNRSGGGGATAAPTGSRQVSAELLSQQWEAGMSLLMALVVLLIVAGNVLVIAAIGRTQRLQTLTNLFITSLACADLVMGLLVVPFGATLVVRGTWLWGSFLCECWTSLDVLCVTASIETLCVIAIDRYLAITSPFRYQSLMTRARAKVIICTVWAISALVSFLPIMMHWWRDEDPQALKCYQDPGCCDFVTNRAYAIASSIISFYIPLLIMIFVYLRVYREAKEQIRKIDRCEGRFYGSQEQPQPPPLPQHQPILGNGRASKRKTSRVMAMREHKALKTLGIIMGVFTLCWLPFFLVNIVNVFNRDLVPDWLFVFFNWLGYANSAFNPIIYCRSPDFRKAFKRLLCFPRKADRRLHAGGQPAPLPGGFISTLGSPEHSPGGTWSDCNGGTRGGSESSLEERHSKTSRSESKMEREKNILATTRFYCTFLGNGDKAVFCTVLRIVKLFEDATCTCPHTHKLKMKWRFKQHQA

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.61s/it]

In [32]:
a = '--------------------------------AELLSQQWEAGMSLLMALVVLLIVAGNVLVIAAIGSTQRLQTLTNLFITSLACADLVVGLLVVPFGATLVVRGTWLWGSFLCELWTSLDVLCVTASIETLCVIAIDRYLAITSPFRYQSLMTRARAKVIICTVWAISALVSFLPIMMHWWRDEDPQALKCYQDPGCCDFVTNRAYAIASSIISFYIPLLIMIFVALRVYREAKEQ----------------------L----------------------MREHKALKTLGIIMGVFTLCWLPFFLVNIVNVFNRDLVPDWLFVAFNWLGYANSAMNPIIYCRSPDFRKAFKRLL-----------------------------------------------------------------------------------------------------------------------------A'

In [33]:
b = 'MGDGWLPPDCGPHNRSGGGGATAAPTGSRQVSAELLSQQWEAGMSLLMALVVLLIVAGNVLVIAAIGRTQRLQTLTNLFITSLACADLVMGLLVVPFGATLVVRGTWLWGSFLCECWTSLDVLCVTASIETLCVIAIDRYLAITSPFRYQSLMTRARAKVIICTVWAISALVSFLPIMMHWWRDEDPQALKCYQDPGCCDFVTNRAYAIASSIISFYIPLLIMIFVYLRVYREAKEQIRKIDRCEGRFYGSQEQPQPPPLPQHQPILGNGRASKRKTSRVMAMREHKALKTLGIIMGVFTLCWLPFFLVNIVNVFNRDLVPDWLFVFFNWLGYANSAFNPIIYCRSPDFRKAFKRLLCFPRKADRRLHAGGQPAPLPGGFISTLGSPEHSPGGTWSDCNGGTRGGSESSLEERHSKTSRSESKMEREKNILATTRFYCTFLGNGDKAVFCTVLRIVKLFEDATCTCPHTHKLKMKWRFKQHQA'

In [58]:
a[32:]

'AELLSQQWEAGMSLLMALVVLLIVAGNVLVIAAIGSTQRLQTLTNLFITSLACADLVVGLLVVPFGATLVVRGTWLWGSFLCELWTSLDVLCVTASIETLCVIAIDRYLAITSPFRYQSLMTRARAKVIICTVWAISALVSFLPIMMHWWRDEDPQALKCYQDPGCCDFVTNRAYAIASSIISFYIPLLIMIFVALRVYREAKEQ----------------------L----------------------MREHKALKTLGIIMGVFTLCWLPFFLVNIVNVFNRDLVPDWLFVAFNWLGYANSAMNPIIYCRSPDFRKAFKRLL-----------------------------------------------------------------------------------------------------------------------------A'

In [59]:
b[32:]

'AELLSQQWEAGMSLLMALVVLLIVAGNVLVIAAIGRTQRLQTLTNLFITSLACADLVMGLLVVPFGATLVVRGTWLWGSFLCECWTSLDVLCVTASIETLCVIAIDRYLAITSPFRYQSLMTRARAKVIICTVWAISALVSFLPIMMHWWRDEDPQALKCYQDPGCCDFVTNRAYAIASSIISFYIPLLIMIFVYLRVYREAKEQIRKIDRCEGRFYGSQEQPQPPPLPQHQPILGNGRASKRKTSRVMAMREHKALKTLGIIMGVFTLCWLPFFLVNIVNVFNRDLVPDWLFVFFNWLGYANSAFNPIIYCRSPDFRKAFKRLLCFPRKADRRLHAGGQPAPLPGGFISTLGSPEHSPGGTWSDCNGGTRGGSESSLEERHSKTSRSESKMEREKNILATTRFYCTFLGNGDKAVFCTVLRIVKLFEDATCTCPHTHKLKMKWRFKQHQA'

In [19]:
# p.read_pkl(mode='', folder='data/processed/')
# p.assign_generic_numbers_r(f=p.table, pdb_ids=pdb_ids overwrite=False, folder='data/processed/')

In [20]:
idx = p.dfl_list.index('4AMI')

In [21]:
eg=idx

In [22]:
x = p.dfl[eg]

In [23]:
p.dfl_list[eg]

'4AMI'

In [24]:
p.mappings[p.mappings['PDB']=='4AMI']['mappings'].iloc[0]

{'entity_id': 1,
 'chain_id': 'A',
 'start': {'author_residue_number': 33,
  'author_insertion_code': '',
  'residue_number': 3},
 'unp_end': 368,
 'unp_start': 33,
 'end': {'author_residue_number': None,
  'author_insertion_code': '',
  'residue_number': 310},
 'struct_asym_id': 'A'}

In [25]:
368-33

335

In [23]:
310-3

307

In [24]:
x[(x['gen_pos1']>7.30) &
  (x['gen_pos1']<8.50)]

,PDB,group_PDB,auth_asym_id,label_asym_id,label_seq_id,auth_seq_id,label_comp_id,id,label_atom_id,type_symbol,...,phi,omega,psi,identifier,label_comp_sid,label_2_uni,gen_pos,gen_pos1,gen_pos2,uniprot_comp_sid
2150,4AMI,ATOM,A,A,291,349,PHE,2151,CA,C,...,-64.687394,179.619069,-44.944498,ADRB1_MELGA,F,321,7.31x30?,7.31,30,P
2161,4AMI,ATOM,A,A,292,350,ARG,2162,CA,C,...,-56.958260,176.654843,-43.478367,ADRB1_MELGA,R,322,7.32x31?,7.32,31,D
2172,4AMI,ATOM,A,A,293,351,LYS,2173,CA,C,...,-68.775034,177.599533,-38.984104,ADRB1_MELGA,K,323,7.33x32?,7.33,32,W
2181,4AMI,ATOM,A,A,294,352,ALA,2182,CA,C,...,-69.802393,174.907471,-32.444711,ADRB1_MELGA,A,324,7.34x33?,7.34,33,L
2186,4AMI,ATOM,A,A,295,353,PHE,2187,CA,C,...,-66.696335,-179.603900,-47.133735,ADRB1_MELGA,F,325,7.35x34,7.35,34,F
2197,4AMI,ATOM,A,A,296,354,LYS,2198,CA,C,...,-62.364721,177.812671,-39.136615,ADRB1_MELGA,K,326,7.36x35?,7.36,35,V
2206,4AMI,ATOM,A,A,297,355,ARG,2207,CA,C,...,-66.058535,-177.237411,-44.799353,ADRB1_MELGA,R,327,7.37x36?,7.37,36,F
2217,4AMI,ATOM,A,A,298,356,LEU,2218,CA,C,...,-66.931728,178.990031,-39.517695,ADRB1_MELGA,L,328,7.38x37?,7.38,37,F
2225,4AMI,ATOM,A,A,299,357,LEU,2226,CA,C,...,-70.403190,-175.435074,37.668349,ADRB1_MELGA,L,329,7.39x38?,7.39,38,N
2233,4AMI,ATOM,A,A,300,358,ALA,2234,CA,C,...,-58.782014,-146.391620,-6.001508,ADRB1_MELGA,A,330,7.40x39?,7.40,39,W

In [25]:
x[(x['label_seq_id']>200)]

,PDB,group_PDB,auth_asym_id,label_asym_id,label_seq_id,auth_seq_id,label_comp_id,id,label_atom_id,type_symbol,...,phi,omega,psi,identifier,label_comp_sid,label_2_uni,gen_pos,gen_pos1,gen_pos2,uniprot_comp_sid
1535,4AMI,ATOM,A,A,201,231,TYR,1536,N,N,...,-57.605530,176.14972,-38.44033,ADRB1_MELGA,Y,0,,0.00,0,
1536,4AMI,ATOM,A,A,201,231,TYR,1537,CA,C,...,-57.605530,176.14972,-38.44033,ADRB1_MELGA,Y,231,5.62x62,5.62,62,Y
1537,4AMI,ATOM,A,A,201,231,TYR,1538,C,C,...,-57.605530,176.14972,-38.44033,ADRB1_MELGA,Y,0,,0.00,0,
1538,4AMI,ATOM,A,A,201,231,TYR,1539,O,O,...,-57.605530,176.14972,-38.44033,ADRB1_MELGA,Y,0,,0.00,0,
1539,4AMI,ATOM,A,A,201,231,TYR,1540,CB,C,...,-57.605530,176.14972,-38.44033,ADRB1_MELGA,Y,0,,0.00,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4524,4AMI,ATOM,B,B,299,357,LEU,4525,O,O,...,-71.489269,NaN,NaN,ADRB1_MELGA,L,0,,0.00,0,
4525,4AMI,ATOM,B,B,299,357,LEU,4526,CB,C,...,-71.489269,NaN,NaN,ADRB1_MELGA,L,0,,0.00,0,
4526,4AMI,ATOM,B,B,299,357,LEU,4527,CG,C,...,-71.489269,NaN,NaN,ADRB1_MELGA,L,0,,0.00,0,
4527,4AMI,ATOM,B,B,299,357,LEU,4528,CD1,C,...,-71.489269,NaN,NaN,ADRB1_MELGA,L,0,,0.00,0,
4528,4AMI,ATOM,B,B,299,357,LEU,4529,CD2,C,...,-71.489269,NaN,NaN,ADRB1_MELGA,L,0,,0.00,0,

In [11]:
p.read_pkl(mode='r', folder='data/processed/')

In [12]:
p.allow_exception=False

In [13]:
# p.dfl[52].drop(['gprot_pos', 'uniprot_comp_id', 'fam_comp_id'], axis=1)

In [14]:
#p.assign_generic_numbers_g(f=p.table, fill_H5=False, overwrite=False)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 544/544 [01:50<00:00,  4.95it/s]

In [ ]:
batch_size = 32


for i in range(int(len(p.dfl_list) / batch_size) + 1):
    print("BATCH", i)
    if (i+1)*batch_size < len(p.dfl_list):
        pdb_ids = p.dfl_list[i*batch_size:(i+1)*batch_size]
    else:
        pdb_ids = p.dfl_list[i*batch_size:]
    p.assign_generic_numbers_g(f=p.table, pdb_ids=pdb_ids, overwrite=True, folder='data/processed/', fill_H5=True)

In [21]:
eg_idx =  10 # p.dfl_list.index('6OYA')

In [27]:
p.dfl_list[eg_idx]

'2G87'

In [22]:
x = p.dfl[eg_idx]

In [26]:
x[(x['label_atom_id']=='CA') &
  (x['gen_pos'].str.contains('x')) & 
  (x['gen_pos1'] > 7.30) & 
  (x['gen_pos1'] < 8.50)]

,PDB,group_PDB,auth_asym_id,label_asym_id,label_seq_id,auth_seq_id,label_comp_id,id,label_atom_id,type_symbol,...,identifier,label_comp_sid,label_2_uni,gen_pos,gen_pos1,gen_pos2,uniprot_comp_sid,gprot_pos,uniprot_comp_id,fam_comp_id
2257,7L0R,ATOM,C,A,302,365,ASN,2258,CA,C,...,NTR1_RAT,N,347,7.31x30?,7.31,30,Y,,,
2265,7L0R,ATOM,C,A,303,366,PRO,2266,CA,C,...,NTR1_RAT,P,348,7.32x31?,7.32,31,H,,,
2272,7L0R,ATOM,C,A,304,367,ILE,2273,CA,C,...,NTR1_RAT,I,349,7.33x32?,7.33,32,Y,,,
2280,7L0R,ATOM,C,A,305,368,LEU,2281,CA,C,...,NTR1_RAT,L,350,7.34x33?,7.34,33,F,,,
2288,7L0R,ATOM,C,A,306,369,TYR,2289,CA,C,...,NTR1_RAT,Y,351,7.35x34,7.35,34,Y,,,
2300,7L0R,ATOM,C,A,307,370,ASN,2301,CA,C,...,NTR1_RAT,N,352,7.36x35?,7.36,35,M,,,
2308,7L0R,ATOM,C,A,308,371,LEU,2309,CA,C,...,NTR1_RAT,L,353,7.37x36,7.37,36,L,,,
2316,7L0R,ATOM,C,A,309,372,VAL,2317,CA,C,...,NTR1_RAT,V,354,7.38x37?,7.38,37,T,,,
2323,7L0R,ATOM,C,A,310,373,SER,2324,CA,C,...,NTR1_RAT,S,355,7.39x38?,7.39,38,N,,,
2329,7L0R,ATOM,C,A,311,374,ALA,2330,CA,C,...,NTR1_RAT,A,356,7.40x39,7.40,39,A,,,
2334,7L0R,ATOM,C,A,312,375,ASN,2335,CA,C,...,NTR1_RAT,N,357,7.41x40?,7.41,40,L,,,
2342,7L0R,ATOM,C,A,313,376,PHE,2343,CA,C,...,NTR1_RAT,F,358,7.42x41,7.42,41,F,,,
2353,7L0R,ATOM,C,A,314,377,ARG,2354,CA,C,...,NTR1_RAT,R,359,7.43x42?,7.43,42,Y,,,
2364,7L0R,ATOM,C,A,315,378,GLN,2365,CA,C,...,NTR1_RAT,Q,360,7.44x43?,7.44,43,V,,,
2373,7L0R,ATOM,C,A,316,379,VAL,2374,CA,C,...,NTR1_RAT,V,361,7.45x45?,7.45,45,S,,,
2380,7L0R,ATOM,C,A,317,380,PHE,2381,CA,C,...,NTR1_RAT,F,362,7.46x46?,7.46,46,S,,,
2391,7L0R,ATOM,C,A,318,381,LEU,2392,CA,C,...,NTR1_RAT,L,363,7.47x47?,7.47,47,A,,,
2399,7L0R,ATOM,C,A,319,382,SER,2400,CA,C,...,NTR1_RAT,S,364,7.48x48?,7.48,48,I,,,
2405,7L0R,ATOM,C,A,320,383,THR,2406,CA,C,...,NTR1_RAT,T,365,7.49x49?,7.49,49,N,,,
2412,7L0R,ATOM,C,A,321,384,LEU,2413,CA,C,...,NTR1_RAT,L,366,7.50x50?,7.50,50,P,,,
2420,7L0R,ATOM,C,A,322,385,ALA,2421,CA,C,...,NTR1_RAT,A,367,7.51x51?,7.51,51,I,,,